.productContainer {
    padding: 60px 20px;
    background-color: #fffdf9;
  }
  
  .productTitle {
    text-align: center;
    font-weight: 800;
    color: #3b2b1f;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .label {
    color:  #5c1713;
    font-weight: 700;
    font-size: 1rem;
  }
  
  .productName {
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .mainImage {
    max-width: 400px;
    cursor: pointer;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 12px;
    background-color: #fff;
  }
  
  .galleryTitle {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color:  #5c1713;
    text-transform: uppercase;
  }
  
  .galleryImage {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .galleryImage:hover {
    transform: scale(1.05);
    border: 2px solid #8a6141;
  }
  
  .backButton {
    background-color: #8a6141;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #5a3d2b;
  }
  
  .notFound {
    text-align: center;
    color: #b5332d;
    font-size: 1.5rem;
    margin-top: 50px;
  }
  